img {
  height: 300px;
  width: auto;
}

.codehead {
  background-color: #2f332e;
  color: #a6d899;
}
.codehead h3 {
  color: white;
}
h3, h4, h5{
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: #a2ed87;
}
.panel-profile {
  position: static;
}
.codebody {
  background-color: #484c47;
  color: #f97777;
}
.pro-heading {
  height: 120px;
}

.pro-body{
  height: 120px;

}

.panel-profile-img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-top: -67px;

}
