<h4>Meet the creators.</h4>
<div class="well row">
  <div class="col-xs-6 ">
    <div class="panel panel-default panel-profile ">
      <div class="panel-heading pro-heading" style="background-image: url('http://2.bp.blogspot.com/-PEsedSbB8i4/VXAFPTSp3VI/AAAAAAAAAc0/UxEf7dxsIVg/s640/coding%2Bin%2Bschools.jpg'"></div>
      <div class="panel-body pro-body text-center">
        <img class="panel-profile-img" src="https://uploads.scratch.mit.edu/users/avatars/1657/8737.png">
        <h5 class="panel-title">Ilene Gorski</h5>
        <p class="bio">I have a cat.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 ">
    <div class="panel panel-default panel-profile ">
      <div class="panel-heading pro-heading" style="background-image: url('http://2.bp.blogspot.com/-PEsedSbB8i4/VXAFPTSp3VI/AAAAAAAAAc0/UxEf7dxsIVg/s640/coding%2Bin%2Bschools.jpg'"></div>
      <div class="panel-body pro-body text-center">
        <img class="panel-profile-img" src="http://www.clipartbest.com/cliparts/9Tp/6Ek/9Tp6EkeLc.png">
        <h5 class="panel-title">Starlynne Start</h5>
        <p class="bio">I moved to the Seattle area in 2013, and got married in Poulsbo in 2015. I started school at Epicodus in 2017, and plan to take over the world by 2020.</p>
      </div>
    </div>
  </div>
</div>
