<h4>Visit the about page for information on our creators.</h4>
<div class="well">
<p>
  fascinating story on why we made this awesome blog(in slightly larger type)
</p>
</div>

<div class="well">
<p>
  insert our nifty owner pofiles here?
</p>
</div>
