<h3>Welcome to Code Blog!</h3>
<h5>Browse blog entries below, or visit the contribute page to sign up and add your own!</h5>


<div class="col-xs-6 well">
  <p>
    insert list of blogs
  </p>
</div>

<div class="col-xs-6 well">
  <p>
    insert blog previews here
  </p>
</div>

<h4>figure where to put user create/new blog/stuff</h4>
