<h3>Welcome to Code Blog!</h3>
<h5>Browse blog entries below, or visit the contribute page to sign up and add your own!</h5>


<div class="col-xs-6 well">
  <ul>
    {{#each model.posts as |post|}}
      <li>{{post.title}}{{post.user.name}}</li>
    {{/each}}
  </ul>
</div>

<div class="col-xs-6 well">
  <p>
    insert blog previews here
  </p>
</div>
